@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Epilogue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

:root {
  --contrast: #eb0029;
  --contrast2: #FC791A;
  --contrast-dark: #373737;
  --dark: #010f1c;
  --light: #ffffff;
  --text: #5C6574;
}
